.b50Grid {
  display: grid;
  gap: 0 5px;
  margin: 15px 0;

  @media (max-width: 765px) {
    zoom: 90%
  }
  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1600px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1960px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.b50GridHeader {
  font-size: 10px;

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 10px;
  }
  @media (max-width: 700px) {
    font-size: 9px;
  }
  @media (max-width: 600px) {
    font-size: 8px;
  }
}

.hideOnSmallScreen {
  @media (max-width: 1000px) {
    display: none;
  }
}

.b50Header {
  font-size: 10px;

  @media (max-width: 760px) {
    font-size: 9px;
  }
  @media (max-width: 690px) {
    font-size: 8px;
  }
  @media (max-width: 610px) {
    font-size: 7px;
  }
  @media (max-width: 540px) {
    font-size: 6px;
  }
  @media (max-width: 475px) {
    font-size: 5px;
  }
}
